.ipHasAdminNavbar .ipAdminNavbar.navbar.navbar-fixed-top{
     top: 0px;
     z-index: 9999999;
}

.ipHasAdminNavbar .navbar.navbar-fixed-top{
     top: 148px;
}

.ipsAdminNavbarContainer,
.ipsAdminPanel {
     top: 40px !important;
}

.ip .ipModuleDesignConfig .colorpicker,
.colorpicker
{
     z-index: 2000;
}
.ip .modal-dialog {
     z-index: 2000;
}
